@use "../../App.scss" as g;

.cart-popup-wrap {
  position: absolute;
  height: 50px;
  width: 100%;
  top: 70px;
  left: 50%;
  @include g.myFlex();
  background: g.$text9;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.04);

  // 등장 애니메이션 (0초~0.6초)
  animation: slideIn 0.6s ease forwards;

  animation: slideIn 0.6s ease forwards, slideOut 0.6s ease 2.4s forwards;

  .cart-popup {
    @include g.myFlex();
    margin: 0 auto;

    .text {
      @include g.myTitle16();
    }
    .text2 {
      @include g.myTitle16();
      text-decoration: underline;
    }
  }
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translate(-50%, 0);
  }

  to {
    opacity: 1;
    transform: translate(-50%, 0);
  }
}

@keyframes slideOut {
  from {
    opacity: 1;
    transform: translate(-50%, 0);
  }

  to {
    opacity: 0;
    transform: translate(-50%, -20px);
  }
}
