@use "../../App.scss" as g;

.main-swiper {
  @include g.myFlex($gap: 54px);

  // border: 1px solid #ddd;
  height: 480px;
  overflow: hidden;

  .text-box {
    position: absolute;
    //  top: 30px;
    left: 0;

    p {
      font-size: 2rem;
      color: g.$text4;
      z-index: 80;
    }

    h2 {
      font-size: 4.8rem;
      font-weight: 700;
      margin-bottom: 12px;
      animation-delay: 0.3s;
      z-index: 40;
    }

    button {
      padding: 12px 48px;
      background: #fff;
      border: 1px solid #8a8a8a;
      border-radius: 4px;
      animation-delay: 0.7s;
      z-index: 10;
    }
    button:hover {
      background: g.$text4;
      color: g.$text10;
    }
  }

  .img-box {
    display: flex;

    .left {
      position: absolute;
      bottom: 3%;
      left: 30%;
      z-index: 90;
      animation-duration: 1.8s;
    }

    .right {
      position: absolute;
      top: 4%;
      left: 49%;
      animation-duration: 1.8s;
    }
  }
}
