@use "../../App.scss" as g;

.main-swiper {
  @include g.myFlex($gap: 54px);

  // border: 1px solid #ddd;
  height: 480px;
  overflow: hidden;

  .text-box {
    // align-items: start;
    position: absolute;
    //  top: 30px;
    left: 0;

    p {
      font-size: 2rem;
      color: g.$text4;
      // animation-delay: 0.5s;
      z-index: 80;
    }

    h2 {
      font-size: 4.8rem;
      font-weight: 700;
      margin-bottom: 12px;
      animation-delay: 0.3s;
      z-index: 40;
    }

    button {
      padding: 12px 48px;
      background: #fff;
      border: 1px solid #8a8a8a;
      border-radius: 4px;
      animation-delay: 0.7s;
      z-index: 10;
    }
    button:hover {
      background: g.$text4;
      color: g.$text10;
    }
  }

  .img-box {
    display: flex;

    .front {
      position: absolute;
      bottom: 3%;
      right: 10%;
      z-index: 90;
      // display: none;
      animation: frontFly 2s ease forwards;
    }

    .back {
      position: absolute;
      top: 5%;
      left: 50%;
      animation: backFly 2s ease forwards;
    }
  }
}

@keyframes frontFly {
  0% {
    transform: translate(-150px, 100px);
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}

@keyframes backFly {
  0% {
    transform: translate(100px, -100px);
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}
