@use "../../App.scss" as g;

.noticeid-wrap {
  .inner {
    margin-top: 100px;
    margin-bottom: 120px;

    h2 {
      font-size: 24px;
      font-weight: 700;
      margin-bottom: 12px;
    }

    .sub {
      display: flex;
      gap: 16px;
      font-size: 16px;
      color: g.$text1;
    }

    .line1 {
      width: 100%;
      height: 1px;
      background: g.$text8;
      margin: 16px 0;
    }

    .line2 {
      width: 100%;
      height: 1px;
      background: g.$text8;
      margin-bottom: 40px;
    }

    .noticeid-title {
      text-align: center;

      .des1 {
        font-size: 30px;
        font-weight: 700;
        margin-bottom: 20px;
      }

      .des2 {
        font-size: 18px;
        margin-bottom: 15px;
      }

      .des3 {
        font-size: 16px;
        margin-bottom: 90px;
        line-height: 1.5;
      }
    }

    .noticeid-img-box {
      display: flex;
      justify-content: center;
      margin-bottom: 100px;
    }

    .noticeid-link {
      display: flex;
      justify-content: center;
      margin-bottom: 50px;

      .link {
        text-align: center;
        width: 200px;
        padding: 14px 0;
        border: 1px solid g.$text6;
        border-radius: 4px;
        background: g.$text10;
        @include g.myTitle16();
        cursor: pointer;
        transition: all 0.2s;
        color: g.$text1;

        &:hover {
          color: g.$text10;
          background: g.$text4;
        }
      }
    }

    .noticepage-back {
      display: flex;
      justify-content: center;
      margin-top: 10px;

      a {
        width: 200px;
        padding: 14px 0;
        border: 1px solid g.$text4;
        border-radius: 4px;
        background: g.$text4;
        @include g.myTitle16();
        color: g.$text10;

        cursor: pointer;
        transition: all 0.2s;

        &:hover {
          background: g.$text1;
        }
      }
    }
  }
}
