.swiper-wrap {
  width: 100%;
  height: 100%;

  display: grid;
  grid-template-columns: 32px 1fr 32px;
  align-items: center;

  grid-template-areas: "prev swiper next";

  position:relative;
  
  .custom-prev{
    grid-column: prev;
    z-index: 30;
    position:absolute;
  }

  .custom-next{
    grid-column: next;
    z-index: 20;
    position:absolute;
  }

  .mySwiper {
    width: 100%;
    height:100%;
    grid-area: swiper;
    display:flex;

    .swiper-slide {
      width: 100%;
      max-height: 560px;
      height: 100%;

      img {
        width: 100%;
        height:100%;
        object-fit: contain;

        display:flex;
        justify-content: center;
        align-items: center;
      }
    }
  }

  button{
    background:none;
    border:none;
  }
}