@use "../../App.scss" as soin;

.sofainput-wrap{
.sofa-name{
    p{
        font-size: 16px;
        margin-bottom: 16px;
    }

    input{
        padding-left: 20px;
        width: 792px;
        height: 44px;
        border: 1px solid soin.$text8;
        border-radius: 4px;
        font-size: 16px;
        outline: none;
    }
}}