@use "../../App.scss" as app;

@mixin storiesGrid() {
  display: grid;

  .img-box {
    grid-area: 1/1;
  }

  .title-box {
    grid-area: 1/1;
    align-self: end;
    padding: 24px;

    z-index: 3;

    .title-main {
      font-size: 14px;
      font-weight: 600;
      word-break: keep-all;
    }

    .title-sub {
      font-size: 12px;
      padding-top: 4px;
    }
  }
}

@mixin storiesBoxPosition($col-start, $row-start, $col: 1, $row: 1) {
  grid-column: #{$col-start} / span #{$col};
  grid-row: #{$row-start} / span #{$row};
}

.stories-wrap {
  // margin-bottom: 120px;
  // margin: 0.2%;
  padding: 120px 0;

  .inner {
    .about-btn {
      display: flex;
      gap: 24px;

      p {
        @include app.myTitle24();
        color: app.$text6;
        text-decoration: none;

        &.active {
          color: app.$text1;
          text-decoration: underline;
        }
      }
    }

    .stories-list {
      width: 100%;

      display: grid;
      grid-template-columns: repeat(4, 282px);
      grid-auto-rows: 282px;
      gap: 24px;

      margin-top: 40px;

      .stories {
        @include storiesGrid();
        border-radius: 8px;
        overflow: hidden;

        .img-box {
          overflow: hidden;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center center;

            transition: 0.5s;
          }
        }

        &:nth-child(1) {
          @include storiesBoxPosition(1, 1, 2, 2);
        }

        &:nth-child(2) {
          @include storiesBoxPosition(3, 1);
        }

        &:nth-child(3) {
          @include storiesBoxPosition(4, 2);
        }

        &:nth-child(4) {
          @include storiesBoxPosition(1, 3);
        }

        &:nth-child(5) {
          @include storiesBoxPosition(2, 3, 2, 2);
        }

        &:nth-child(6) {
          @include storiesBoxPosition(4, 4);
        }

        &:nth-child(7) {
          @include storiesBoxPosition(1, 5);
        }

        &:nth-child(8) {
          @include storiesBoxPosition(2, 6);
        }

        &:nth-child(9) {
          @include storiesBoxPosition(3, 5, 2, 2);
        }

        &:nth-child(10) {
          @include storiesBoxPosition(1, 7);
        }

        &:nth-child(11) {
          @include storiesBoxPosition(2, 7, 2, 2);
        }

        &:nth-child(12) {
          @include storiesBoxPosition(4, 8);
        }

        &:nth-child(13) {
          @include storiesBoxPosition(1, 9, 2, 2);
        }

        &:nth-child(14) {
          @include storiesBoxPosition(3, 10);
        }

        &:nth-child(15) {
          @include storiesBoxPosition(4, 9);
        }

        &:nth-child(16) {
          @include storiesBoxPosition(1, 12);
        }

        &:nth-child(17) {
          @include storiesBoxPosition(2, 11, 2, 2);
        }

        &:nth-child(18) {
          @include storiesBoxPosition(4, 11);
        }

        &:nth-child(19) {
          @include storiesBoxPosition(1, 13);
        }

        &:nth-child(20) {
          @include storiesBoxPosition(2, 14);
        }

        &:nth-child(21) {
          @include storiesBoxPosition(3, 13, 2, 2);
        }

        &:nth-child(22) {
          @include storiesBoxPosition(1, 15);
        }

        &:nth-child(23) {
          @include storiesBoxPosition(2, 15, 2, 2);
        }

        &:nth-child(24) {
          @include storiesBoxPosition(4, 16);
        }

        &:nth-child(25) {
          @include storiesBoxPosition(1, 17, 2, 2);
        }

        &:nth-child(26) {
          @include storiesBoxPosition(3, 18);
        }

        &:nth-child(2),
        &:nth-child(5),
        &:nth-child(6),
        &:nth-child(7),
        &:nth-child(8),
        &:nth-child(10),
        &:nth-child(11),
        &:nth-child(13),
        &:nth-child(14),
        &:nth-child(16),
        &:nth-child(17),
        &:nth-child(18),
        &:nth-child(20),
        &:nth-child(21),
        &:nth-child(24),
        &:nth-child(26) {
          color: #fff;
        }
      }

      .stories:hover {
        .img-box > img {
          transform: scale(1.1);
          // filter: brightness(0.5);
        }

        // .title-box {
        //     color: #eee;
        // }
      }
    }
  }
}
