@use "../../App.scss" as g;

.about-wrap {
    margin-bottom: 120px;
    overflow: hidden;
    .inner-wrap {
        .inner {
            margin-top: 120px;

            .about-btn {
                display: flex;
                gap: 24px;

                p {
                    @include g.myTitle24();
                    color: g.$text6;
                    text-decoration: none;

                    &.active {
                        color: g.$text1;
                        text-decoration: underline;
                    }
                }
            }

            .brand-text-box {
                h2 {
                    @include g.myTitle24();
                    margin-top: 40px;
                }

                p {
                    @include g.myTitle16();
                    margin-top: 12px;
                    margin-bottom: 40px;
                }

            }

            .visual-section {
                display: flex;
                height: 1140px;
                // background: pink;
                position: relative;

                .overflow-wrap {
                    position: relative;
                    width: 1200px;
                    height: 720px;
                    margin: 0 auto;

                    .overflow-mask {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 588px; // 보이는 영역
                        height: 720px;
                        overflow: hidden;
                        will-change: transform;
                        backface-visibility: hidden;
                        transform-style: preserve-3d;
                        

                        .img-holder {
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 1200px;
                            height: 720px;
                            will-change: transform;
                            backface-visibility: hidden;
                            transform-style: preserve-3d;
                            

                            img {
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                            }
                        }
                    }
                }

                .text-box {
                    display: flex;
                    flex-direction: column;
                    gap: 20px;
                    position: absolute;
                    width: 588px;

                    h3 {
                        font-size: 64px;
                        color: g.$text1;
                        font-weight: 600;
                        line-height: 124%;
                        letter-spacing: -2px;
                        transition-delay: 0.1s;
                    }

                    p {
                        width: 588px;
                        @include g.myTitle16();
                        text-align: justify;

                    }

                    .sub-title {
                        animation-delay: 0.2s;
                    }

                    .sub-en {
                        color: g.$text6;
                        animation-delay: 0.4s;
                        
                    }

                }

                .first-text {
                    margin-top: 150px;
                    right: 0px;
                }

                .second-text {
                    margin-top: 80px;
                    left: 0px;
                }
            }

        }
    }
}