@use "../../App.scss" as co;

.community-wrap {
  margin-bottom: 120px;
  margin-top: 120px;
}
.com-grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-auto-rows: 384px;
  gap: 20px;

  .com-customer {
    grid-column: 1 / span 4;
    grid-row: 1 / span 1;
    animation: slideDown 1s ease-out;
  }

  .com-notice {
    grid-column: 5 / span 2;
    grid-row: 1 / span 2;
    animation: slideRight 1s ease-out;
  }

  .com-jackson {
    grid-column: 1 / span 2;
    grid-row: 2 / span 1;
    animation: slideLeft 1s ease-out;
  }

  .com-store {
    grid-column: 3 / span 2;
    grid-row: 2 / span 1;
    animation: slideUp 1s ease-out;
  }
}

.com-card {
  position: relative;
  border-radius: 12px;
  overflow: hidden;
  background: co.$BG;
}

@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-100px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideRight {
  from {
    opacity: 0;
    transform: translateX(100px);
  }

  to {
    opacity: 1;
    transform: translatex(0);
  }
}

@keyframes slideLeft {
  from {
    opacity: 0;
    transform: translatex(-100px);
  }

  to {
    opacity: 1;
    transform: translatex(0);
  }
}

@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(100px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.com-text {
  position: absolute;
  margin: 32px 0 0 32px;
  font-size: 24px;
  font-weight: 500;
  z-index: 1;
}

.com-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  transition: transform 0.6s ease;
}

.com-card .community:hover {
  transform: scale(1.1);
}
