.map-page {
  width: 100%;
  min-height: 100vh;
  position: relative;

  .inner {
    .map-bg {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;
      z-index: 1;
      filter: grayscale(100%);
    }

    .map-content {
      position: relative;
      z-index: 10;
      padding-top: 120px;
      display: flex;
      justify-content: flex-start;
      pointer-events: none;
    }
  }
}

.map-content * {
  pointer-events: auto;
}