@use "../../App.scss" as g;

.noticepage-wrap {
  margin-top: 100px;
  margin-bottom: 120px;

  .noticepage-title {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 12px;
  }

  .noticepage-sub {
    display: flex;
    gap: 16px;
    font-size: 16px;
    color: g.$text1;
    margin-bottom: 16px;
  }

  .line1 {
    width: 100%;
    height: 1px;
    background: g.$text8;
    margin: 16px 0;
  }

  .line2 {
    width: 100%;
    height: 1px;
    background: g.$text8;
    margin-bottom: 40px;
  }

  .noticepage-img {
    width: 100%;
    margin-bottom: 40px;

    img {
      width: 100%;
    }
  }

  .noticepage-back {
    display: flex;
    justify-content: center;
    margin-top: 10px;

    a {
      width: 200px;
      padding: 14px 0;
      border: 1px solid g.$text4;
      border-radius: 4px;
      background: g.$text4;
      @include g.myTitle16();
      color: g.$text10;
      cursor: pointer;
      transition: all 0.2s;

      &:hover {
        background: g.$text1;
      }
    }
  }
}
