@use "../../App.scss" as g;

.search-wrap {
  margin-bottom: 12rem;
  .inner {
    h2 {
      margin-top: 11rem;
      @include g.myTitle24();
      text-align: left;
    }

    .search-box {
      form {
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid g.$text8;
        margin-top: 2.4rem;
        margin-bottom: 4rem;
        max-width: 384px;

        button {
          background: none;
          border: none;
          outline: none;
          appearance: none; //브라우저 기본 스타일 제거
        }

        input {
          width: 100%;
          background: none;
          padding: 12px 12px;
          border: none;
          @include g.myTitle16();
          text-align: left;
          color: g.$text6;
        }

        input:focus {
          outline: none;
          border: none;
          color: g.$text1;
        }

        img {
          padding: 0 12px;
        }

        img:hover {
          filter: brightness(0) saturate(100%); // 검정색
        }
      }

      form:hover {
        border-bottom: 1px solid g.$text6;
      }
    }

    .product-filter {
      display: flex;
      justify-content: space-between;
      width: 100%;
      padding: 2rem 0 4rem 0;
      align-items: center;

      .filter-title {
        display: flex;
        gap: 1rem;
        font-size: 1.6rem;
        color: g.$text4;
        align-items: center;

        .arrow {
        }

        .select-material {
          cursor: pointer;
          display: flex;
          gap: 1rem;

          p {
            color: g.$text6;
            margin: 0.5rem 0;

            &.active {
              border-bottom: 1px solid g.$text6;
              margin: 0.5rem 0;
              color: g.$text1;
            }
          }
        }

        .product-sort {
          font-weight: 600;
          font-size: 1.6rem;
          color: #000;
        }

        .arrow {
          align-content: center;

          img {
            width: 100%;
            height: 100%;
          }
        }
      }

      .filter {
        display: flex;
        gap: 1.2rem;
        align-items: center;

        .total-product {
          color: g.$text6;
        }

        p {
          font-size: 1.6rem;
          font-weight: 400;
        }

        button {
          background: none;
          border: none;
        }
      }
    }

    .product-list {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      row-gap: 5.6rem;
      column-gap: 2.4rem;

      .product {
        position: relative;
        // border: 1px solid black;

        .new {
          position: absolute;
          top: 2.4rem;
          left: 2.4rem;
          z-index: 10;
          font-size: 1.4rem;
          font-weight: 500;
        }

        .img-box {
          border-radius: 0.8rem;
          position: relative;
          background: #f4f4f4;

          .hover-img {
            position: absolute;
            top: 0;
            left: 0;
            opacity: 0;
            transition: 0.3s;
            border-radius: 0.8rem;
            overflow: hidden;
          }

          &:hover .hover-img {
            opacity: 1;
          }
        }

        .text-box {
          padding-top: 1.2rem;

          .title {
            font-size: 1.8rem;
            font-weight: 500;
            padding-bottom: 0.4rem;
          }

          .price-wrap {
            position: relative;

            .sale {
              position: absolute;
              top: 0;
              right: 0;
              color: g.$point2;
              font-size: 1.6rem;
              font-weight: 400;
            }

            .price {
              display: flex;
              // gap: 1.2rem;
              align-items: center;

              strong {
                font-size: 1.6rem;
                font-weight: 400;
              }

              span {
                font-size: 1.4rem;
                font-weight: 400;
                text-decoration: line-through;
                color: g.$text6;
                padding-right: 1.2rem;
              }
            }
          }
        }
      }
    }

    .pager-wrap {
      padding-top: 8rem;
      display: flex;
      justify-content: center;

      .pager {
        display: flex;
        gap: 1.6rem;

        button {
          background: none;
          border: none;
          font-size: 1.6rem;
          color: g.$text6;

          &.active {
            color: g.$text1;
          }
        }
      }
    }
  }
}

//반응형
@media screen and (max-width: 1024px) {
  .shop-wrap {
    .inner {
      .product-list {
        grid-template-columns: repeat(2, 1fr);
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .shop-wrap {
    .inner {
      .product-list {
        grid-template-columns: repeat(1, 1fr);
      }
    }
  }
}
