.bottom-intro-wrap{
    margin-bottom: 120px;
    
    .inner{
        padding-top: 0;

        .intro{
            display:flex;
            flex-direction: column;
            gap:20px;
        }
    }
}