@use '../../App.scss' as g;

.bottom-size-wrap{
    margin-bottom:120px;
    .inner{
        padding-top: 0;
        .content-wrap{
            .size-title{
                width:100%;
                margin-bottom: 40px;

                .title-main{
                    @include g.myTitle32();
                }
                .title-sub{
                    @include g.myTitle16();
                }
            }
            .size{
                width:100%;
                background: #f8f8f8;

                display:flex;
                align-items: center;
                justify-content: center;
                >img{
                    width:75%;
                }
            }
        }
    }
}