@use "../../App.scss" as g;

.shopping-cart-wrap {
  padding: 120px 0;
  margin: 0 2%;

  @include g.myTitle16($ta: left);

  .inner {
    .title {
      @include g.myTitle24($ta: left);
      margin-bottom: 20px;
    }

    // display: flex;
    // flex-direction: column;
    // max-width: 1200px;
    // width: 100%;
    // margin: 0 auto;

    .check-box {
      .real {
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        height: 0;
        opacity: 0;
      }

      .fake {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;

        width: 22px;
        height: 22px;
        border: 1px solid g.$text6;
        border-radius: 4px;
        background: g.$text10;
      }

      .icon {
        width: 14px;
        height: 14px;
        opacity: 0;
      }

      .fake::after {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 22px;
        height: 22px;
        background-image: var(--check-img);
        opacity: 0;
      }

      .real:checked + .fake .icon {
        opacity: 1;
      }
    }

    .content-wrap {
      display: flex;

      .cart-list {
        width: 68%;
        background: g.$BG;
        border-radius: 8px 0 0 8px;

        padding: 24px;

        display: flex;
        flex-direction: column;

        .choose-del-wrap {
          display: flex;
          justify-content: space-between;
          align-items: center;

          margin-bottom: 12px;

          button {
            width: 74px;
            height: 30px;

            background: g.$text10;
            border: 1px solid g.$text8;
            outline: none;
            border-radius: 4px;

            &:hover {
              background: g.$text6;
              border: 1px solid g.$text6;
              color: g.$text10;
            }
          }
        }

        .empty-wrap {
          width: 100%;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          @include g.myTitle16();
        }

        .item-list {
          .item-wrap {
            width: 100%;
            padding: 0 24px;
            position: relative;
            display: flex;
            align-items: center;
            border-bottom: 1px solid g.$text8;

            &:first-of-type {
              border-top: 1px solid g.$text8;
            }

            .selected-wrap {
              position: absolute;
              width: 100%;
              // padding: 0 24px;
              top: 20px;
              left: 0;

              display: flex;
              align-items: center;
              justify-content: space-between;
              margin: 0 0 10px 0;

              // input {
              //     width: 24px;
              //     height: 24px;
              //     border: 1px solid g.$text6;
              //     border-radius: 8px;
              // }

              .close-btn {
                background: none;
                border: none;
              }
            }

            .item-box {
              width: 100%;
              display: flex;
              align-items: center;

              .item-img {
                height: 180px;
                width: 180px;
                object-fit: contain;
                display: flex;
                align-items: center;
                justify-content: center;

                img {
                  width: 100%;
                  border-radius: 0.4rem;
                }
              }

              .item-text {
                width: 530px;

                display: flex;
                align-items: center;

                gap: 28px;

                .item-info {
                  margin-left: 12px;

                  width: 268px;

                  .item-title {
                    font-size: 1.6rem;
                    font-weight: 500;
                    margin-bottom: 16px;
                  }

                  .item-option {
                    font-size: 1.6rem;
                    font-weight: 400;
                    color: g.$text1;
                    margin-bottom: 4px;
                    word-break: keep-all;
                  }

                  .btn-option {
                    font-size: 1.6rem;
                    font-weight: 400;
                    color: g.$text6;
                    background: none;
                    border: none;

                    span {
                      border-bottom: 1px solid g.$text6;
                      margin: 1px 0;
                    }
                  }
                }

                .count-wrap {
                  width: 84px;
                  display: flex;
                  align-items: center;
                  justify-content: space-between;

                  span {
                    font-size: 1.6rem;
                    text-align: center;
                  }

                  button {
                    width: 24px;
                    height: 24px;
                    font-size: 2rem;
                    background: none;
                    border: none;
                    color: g.$text6;
                  }
                }

                .price {
                  text-align: right;
                  width: 108px;
                  font-weight: 400;
                  font-size: 1.6rem;
                }
              }
            }
          }
        }
      }

      .total {
        width: 32%;
        height: auto;
        background: g.$text9;
        border-radius: 0 8px 8px 0;
        padding: 24px;

        .total-wrap {
          width: 100%;
          height: auto;
          background-color: g.$text9;
          display: flex;
          flex-direction: column;
          border-radius: 0 8px 8px 0;

          position: sticky;
          top: 100px;

          .total-content {
            height: auto;
            display: flex;
            flex-direction: column;

            h4 {
              font-size: 2rem;
              font-weight: 500;
              margin-bottom: 2rem;
            }

            ul {
              li {
                display: flex;
                justify-content: space-between;
                padding: 8px 0;
                font-size: 1.6rem;
                font-weight: 400;
              }
            }

            .total-price {
              display: flex;
              justify-content: space-between;
              font-size: 1.6rem;
              font-weight: 400;
              margin-top: 46px;
              align-items: center;

              strong {
                font-size: 2.4rem;
                font-weight: 500;
              }
            }

            .pay-btn {
              display: flex;
              justify-content: center;
              align-items: center;

              height: 4.6rem;
              border-radius: 4px;
              border: none;
              background-color: g.$text4;
              margin-top: 20px;

              span {
                display: block;
                @include g.myTitle16();
                align-items: center;
                color: #fff;
              }

              &:hover {
                background-color: #000;
              }
            }
          }
        }
      }
    }
  }
}
