@use "../../App.scss" as st;

.store-wrap {
  // padding: 40px 20px;

  .store-tap-wrap {
    padding: 4px;
    background: st.$text9;
    margin-bottom: 8px;
    border-radius: 8px;
  }

  .store-tabs {
    display: flex;
    border-radius: 8px;
    overflow: hidden;

    .tab-button {
      flex: 1;
      width: 160px;
      height: 48px;
      background: st.$text9;
      border: none;
      @include st.myTitle24();
      font-size: 20px;
      color: st.$text7;
      cursor: pointer;
      transition: all 0.8s ease;
      border-radius: 8px;

      &.active {
        background-color: st.$text10;
        color: st.$text1;
      }
    }
  }

  .story-title-wrap {
    display: flex;
    justify-content: space-between;
  }

  .store-list {
    max-width: 486px;
    gap: 30px;
  }

  .store-card {
    margin-bottom: 8px;
  }

  .store-header {
    background: st.$text10;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
    padding: 24px;
    cursor: pointer;

    .store-title {
      @include st.myTitle24();
      font-size: 20px;
      color: st.$text1;
    }

    .store-arrow {
      cursor: pointer;
      width: 20px;
      height: 20px;
    }

    .store-subtitle {
      margin-top: 24px;
      @include st.myTitle16();
      text-align: left;
      color: st.$text4;
      line-height: 1.6;
    }
  }

  .store-card.open .store-arrow {
    transform: rotate(180deg);
  }

  .store-content {
    margin-top: 8px;
    padding: 24px;
    background: st.$text10;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);

    .store-info {
      margin-bottom: 12px;

      .info-row {
        display: flex;
        margin-bottom: 8px;
        font-size: 16px;

        .info-label {
          @include st.myTitle16();
          text-align: left;
          font-weight: 600;
          color: st.$text1;
          min-width: 90px;
        }

        .info-text {
          @include st.myTitle16();
          text-align: left;
          color: st.$text1;
          flex: 1;
        }
      }
    }

    .store-image {
      width: 100%;
      margin: 32px 0;

      img {
        width: 100%;
        height: auto;
        display: block;
        border-radius: 8px;
      }
    }

    .store-notice {
      border-radius: 8px;
      margin-top: 24px;

      p {
        @include st.myTitle16();
        text-align: left;
        color: st.$text4;
        margin: 0;
      }
    }
  }
}

.store-list.scroll-mode {
  max-height: 700px;
  overflow-y: auto;
  border-radius: 8px;
}

.store-list.scroll-mode::-webkit-scrollbar {
  display: none;
}

.store-list.scroll-mode {
  scrollbar-width: none;
}
